<button (click)="generateCard()" class="btn-dark">Draw a random Card!</button>
<button (click)="tellState()">My Other Button</button>

<div class="example-container">
    <h1> All Cards </h1>
<div
id="cards"
cdkDropList
[cdkDropListData]="state.cards"
cdkDropListConnectedTo="red-only"
(cdkDropListDropped)="drop($event)"
[cdkDropListEnterPredicate]="returnPredicate"
>
  <div [ngClass]="['outline', 'example-list', 'rounded', card.isRed ? 'red-card' : '']" 
       *ngFor="let card of state.cards; let i = index"
       (click)="selectCard(card, i)"
       [cdkDragData]="card"
       (cdkDragStarted)="setSelectedCard(card)"
       cdkDrag
       >
      <div class="top">
          <span>{{card.rank}}</span>
          <span>{{card.suit}}</span>
      </div>
      <h1>{{card.suit}}</h1>
      <div class="bottom">
          <span>{{card.suit}}</span>
          <span>{{card.rank}}</span>
      </div>
  </div>
</div>
</div>

<div class="example-container">
    <h1> Red Only </h1>
<div
id="red-only"
cdkDropList
[cdkDropListData]="cardState.foundation"
cdkDropListConnectedTo="cards"
(cdkDropListDropped)="drop($event)"
[cdkDropListEnterPredicate]="solitairePredicate"
>
    <div
    [ngClass]="['example-list', 'outline', 'rounded', card.isRed ? 'red-card' : '']"
    *ngFor="let card of cardState.foundation; let i = index"
    cdkDrag
    [cdkDragData]="card"
    >
        <div class="top">
          <span>{{card.rank}}</span>
          <span>{{card.suit}}</span>
        </div>
        <h1>{{card.suit}}</h1>
        <div class="bottom">
          <span>{{card.suit}}</span>
          <span>{{card.rank}}</span>
        </div>
    </div>
</div>
</div>

<div class="example-container">
  <h1>Drawing cards because</h1>
  <div *ngFor="let card of state.cards">
      <app-card [drawnCard]="card"></app-card>
  </div>
</div>