.outline:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
body {
    color: #CC0033;
    background: #339900; 
}
span { 
    display: block; 
}
 
.outline { 
    position: relative;
    top: 250px;
    width: 110px; 
    border: 2px solid black; 
    border-radius: 4px;
    text-align: center; 
    padding: 10px; 
    margin: 10px;
    margin-top: -75%; 
    background: #FFF; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.top { 
    text-align: left; 
}
.bottom { 
    text-align: left; 
    transform: rotate(180deg);
}
.rounded { 
    border-radius: 10px;
}
.red-card {
    color: red;
}
.example-container {
    top: 200px;
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
.cdk-drag-placeholder {
    opacity: 0.5;
    width: 5rem;
    height: 5rem;
    border: 2px black;
}