.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.col-item {
    display: flex;
    flex-direction: column;
    width: 120px;
}
.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.placeholder {
    position: relative;
    top: 10rem;
    height: 160px;
    width: 110px; 
    border: 2px solid black; 
    border-radius: 4px;
    text-align: center; 
    padding: 10px; 
    margin: 10px; 
    background: #FFF; 
}
.ghost-card {
   position: absolute;
   top: 227px;
   padding: 10px;
   margin: 10px;
   height: 152px;
   width: 110px; 
   border: 1px solid black;
}